<!DOCTYPE html>
<html ng-app="main">

    <head>
        <title>AdminGL</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/admin-gl/css/GL-Admin.css"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
        <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">-->

        <script type="text/javascript" src="https://s3.amazonaws.com/admin-gl/js/jquery.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/admin-gl/js/angular.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/admin-gl/js/bootstrap.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/admin-gl/js/jqueries.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/admin-gl/js/matrix.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/admin-gl/js/aws.js"></script>

        <script type="text/javascript" src="https://s3.amazonaws.com/admin-gl/GL-Admin.js"></script>

    </head>

    <body>

        <div ng-include="'header.tpl.html'"></div>
        <!--sidebar-menu-->

        <div id="sidebar"> <a href="#" class="visible-phone"><i class="icon icon-list"></i>Forms</a>
            <ul>
                <%= if @maybe_user.profile != 3 do %>
                    <li class="submenu active"> <a href="#"><i class="icon icon-list"></i> <span>Registro</span> <span class="label label-important">3</span></a>
                        <ul>
                            <li><a href="#/manageGlkr">Goodlokero</a></li>
                            <%= if @maybe_user.profile == 1 do %>
                                <li><a href="#/manageSalon">Salón</a></li>
                                <li><a href="#/manageAssociated">Empleado Salon</a></li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>
                <%= if @maybe_user.profile != 3 do %>
                    <li class="submenu active"><a href="#"><i class="icon icon-th"></i> <span>Administrar</span> <span class="label label-important">4</span></a>
                        <ul>
                            <li><a href="#/manageGlkrs">Goodlookeros</a></li>
                            <%= if @maybe_user.profile == 1 do %>
                                <li><a href="#/manageSalons">Salones</a></li>
                                <li><a href="#/manageCatTypes">Servicios por categoría</a></li>
                                <li><a href="#/manageServiceTypes">Servicios para salón</a></li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>
                <li class="submenu active"><a href="#"><i class="icon icon-th"></i> <span>Reportes</span> <span class="label label-important">4</span></a>
                    <ul>
                        <li><a href="#/callCenterReport">CallCenter</a></li>
                        <li><a href="#/customerReport">Reporte de Clientes</a></li>
                        <%= if @maybe_user.profile == 1 do %>
                          <li><a href="#/associatedReportDay">Reporte Diario Goodlokeros</a></li>
                          <li><a href="#/associatedReportWeek">Reporte Semanal Goodlokeros</a></li>
                          <li><a href="#/salesReport">Reporte de Ventas</a></li>
                        <% end %>
                    </ul>
                </li>

                <%= if @maybe_user.profile != 3 do %>
                    <li class="active"><a href="#/configuration"><i class="icon icon-tasks"></i> <span>Configuración</span></a></li>
                <% end %>

            </ul>
        </div>

        <div id="content" ng-view>
        </div>

        <div ng-include="'footer.tpl.html'"></div>

    </body>

</html>
